.container {
  top: 0;
  left: 0;
  height: 130rem;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 1)
    ),
    url("../Media/landingback2.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  max-width: 100%;
  color: ghostwhite;
}
.block {
  position: absolute;
  right: 50%;
  -webkit-clip-path: polygon(75% 0, 100% 0%, 25% 100%, 0% 100%);
  clip-path: polygon(75% 0, 100% 0%, 25% 100%, 0% 100%);
  height: 70rem;
  width: 70em;
  background-image: linear-gradient(
    180deg,
    #ff8282af,
    rgba(0, 0, 0, 0)
  );
}
.main{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}
.image {
    height: 80rem;
    position: relative;
    top: 0rem;
}
.left{
    margin-right: 10rem;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    text-align: right;
    position: relative;
    right: -10rem;
    width: 80rem;
    height: 100%;
    border-bottom: 3px solid ghostwhite;
    padding-bottom: 2rem;
    margin-bottom: 4rem;

}
.title{
    font-size: 5rem;
    letter-spacing:4px;
    line-height: 6rem;
    margin-bottom: 2rem;
}
.colorchange{
   color:#ff8282;
}
.title2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.title3{
    font-size: 1.7rem;
    float: right;
    width: 70rem;
}
iframe{
    height: 40rem;
    width: 70rem;
}
@media only screen and (max-width: 1500px){
    .header{
        right: 0rem;
    }
    .title{
        font-size: 4rem;
    }
    .left{
        display: none;
    }
}
@media only screen and (max-width: 825px){
    .container{
        height: auto;
    }
    .main{
        padding: 10rem 0 10rem 0;
    }
    .header{
        text-align: left;
        position: relative;
        right: 0rem;
        width: 50rem;
        margin: 0 auto;
        height: 100%;
  
        padding-bottom: 2rem;
        margin-bottom: 4rem;
    
    }
    iframe{
        height: 30rem;
        width: 50rem;
    }
    .title3{
        width: auto;
    }
}
@media only screen and (max-width: 525px){
    iframe{
        height: 20rem;
        width: 37rem;
    }
    .header{
        width: 37rem;
    }
}