.container{
    position: relative;
    z-index: 100;
}
.main{
    width: 100%;
    display: flex;
    justify-content: start;
    align-content: center;
     top: -10rem;
    position: absolute; 
    filter: drop-shadow(5px 10px 2rem rgba(0, 0, 0, 0.774))
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 70%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.856),
        rgba(0, 0, 0, 0.863)),
        url("../Media/transition.jpg");
        background-size: 100%;
        background-repeat: none;
        background-position: center;
}
.title{
    font-size: 4rem;
    margin-bottom: 2rem;
}
.colorchange{
    color:#ff8282;
 }