.container {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.418);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 5rem;
  
    width: 100%;
    font-family: 'Aldrich', sans-serif;
  }
  .header {
    text-align: center;
    width: 100%;
  }
  .title {
    text-transform: uppercase;
    font-size: 2rem;
    white-space: nowrap;
    font-weight: 200;
    letter-spacing: 5px;
    width: 100%;
  }
  .secondarytitle {
    font-size: 1.5rem;
  }
  .footer {
    color: ghostwhite;

  }
  .footer:hover {
    cursor: pointer;
  }
  @media only screen and (max-width: 500px) {
    .secondarytitle {
      font-size: 1rem;
    }
  }
  